In [1]:
import pandas as pd

1. Use the PRS dataset to create a dataframe

In [2]:
df = pd.read_csv('../data/Final.csv')

2. Check the description of the dataframe

In [3]:
df.describe()

,CUSTOMER_ORDER_ID,SALES_ORG,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,SOLD_TO_PARTY,REQUESTED_DELIVERY_DATE,CREDIT_STATUS,CUSTOMER_NUMBER
count,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,1.101925e+06,219478.000000,1.101925e+06
mean,8.763187e+08,3.304891e+03,3.431364e+03,2.022032e+07,1.340316e+05,8.763265e+08,2.022035e+07,74.464771,1.074092e+09
std,7.088594e+07,6.958920e+02,5.483805e+02,1.426756e+02,6.503618e+04,7.090306e+07,1.751912e+03,14.444210,4.042693e+08
min,7.534520e+08,2.100000e+03,5.900000e+01,2.022010e+07,0.000000e+00,7.534518e+08,2.019081e+07,52.000000,1.210001e+07
25%,8.149522e+08,2.702000e+03,3.260000e+03,2.022021e+07,8.170200e+04,8.148366e+08,2.022022e+07,64.000000,1.230006e+09
50%,8.763963e+08,3.305000e+03,3.660000e+03,2.022032e+07,1.509540e+05,8.763542e+08,2.022033e+07,64.000000,1.230014e+09
75%,9.376832e+08,3.908000e+03,3.670000e+03,2.022042e+07,1.853580e+05,9.377293e+08,2.022050e+07,93.000000,1.230014e+09
max,9.990063e+08,4.510000e+03,4.260000e+03,2.022060e+07,2.359590e+05,9.990075e+08,2.202022e+07,93.000000,1.230025e+09

3. Check the shape of the dataframe

In [4]:
df.shape

(1101925, 16)

4. Check the data frame informations

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101925 entries, 0 to 1101924
Data columns (total 16 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUSTOMER_ORDER_ID        1101925 non-null  int64
 1   SALES_ORG                1101925 non-null  int64
 2   DISTRIBUTION_CHANNEL     1101925 non-null  object
 3   DIVISION                 1101925 non-null  object
 4   RELEASED_CREDIT_VALUE    1101925 non-null  object
 5   PURCHASE_ORDER_TYPE      1083233 non-null  object
 6   COMPANY_CODE             1101925 non-null  int64
 7   ORDER_CREATION_DATE      1101925 non-null  int64
 8   ORDER_CREATION_TIME      1101925 non-null  int64
 9   CREDIT_CONTROL_AREA      1101925 non-null  object
 10  SOLD_TO_PARTY            1101925 non-null  int64
 11  ORDER_AMOUNT             1101925 non-null  object
 12  REQUESTED_DELIVERY_DATE  1101925 non-null  int64
 13  ORDER_CURRENCY           1101925 non-null  object
 14  CREDIT_STATUS            219478 non-null   float64
 15  CUSTOMER_NUMBER          1101925 non-null  int64
dtypes: float64(1), int64(8), object(7)
memory usage: 134.5+ MB


5. Check for the Null values in the dataframe

In [6]:
df.isnull().sum()

CUSTOMER_ORDER_ID               0
SALES_ORG                       0
DISTRIBUTION_CHANNEL            0
DIVISION                        0
RELEASED_CREDIT_VALUE           0
PURCHASE_ORDER_TYPE         18692
COMPANY_CODE                    0
ORDER_CREATION_DATE             0
ORDER_CREATION_TIME             0
CREDIT_CONTROL_AREA             0
SOLD_TO_PARTY                   0
ORDER_AMOUNT                    0
REQUESTED_DELIVERY_DATE         0
ORDER_CURRENCY                  0
CREDIT_STATUS              882447
CUSTOMER_NUMBER                 0
dtype: int64

6. Replace all the null values with "NaN"

In [7]:
df.fillna('NaN', inplace=True)


7. Change the format of date columns - "ORDER_CREATION_DATE" to datetime[64] with the format as "%Y%m%d"

In [8]:
df['ORDER_CREATION_DATE'] = pd.to_datetime(df['ORDER_CREATION_DATE'])

8. Do the same activity for the other date field i.e. "REQUESTED_DELIVERY_DATE" to datetime[64] with the format as "%Y%m%d"

In [9]:
df['REQUESTED_DELIVERY_DATE'] = pd.to_datetime(df['REQUESTED_DELIVERY_DATE'])


9. Sanity check - Check how many records are having order date greater than the delivery date

In [10]:
#check how many order creation date is after requested delivery date
df[df['ORDER_CREATION_DATE'] > df['REQUESTED_DELIVERY_DATE']].shape[0]

27142


10. Remove those records where order date is greater than the delivery date

In [11]:
if df[df['ORDER_CREATION_DATE'] > df['REQUESTED_DELIVERY_DATE']].shape[0] == 0:
    print('No order creation date is after requested delivery date')
else:
    print('There are order creation date after requested delivery date')

There are order creation date after requested delivery date

In [12]:
df = df[df['ORDER_CREATION_DATE'] <= df['REQUESTED_DELIVERY_DATE']]
df.shape

(1074783, 16)


11. Check the number of records where the “ORDER_AMOUNT” field is having “-” in it.

In [13]:
# oder amount has - in it
df[df['ORDER_AMOUNT'].str.contains('-')].shape[0]

32


12. Replace “-” with “” from the “ORDER_AMOUNT” field.

In [14]:
df['ORDER_AMOUNT'] = df['ORDER_AMOUNT'].str.replace('-', '')


13. Check the number of records where the “ORDER_AMOUNT” field is having “,” in it.

In [15]:
df[df['ORDER_AMOUNT'].str.contains(',')].shape[0]

1073406


14. Replace “,” with “.” from the “ORDER_AMOUNT” field.

In [16]:
df['ORDER_AMOUNT'] = df['ORDER_AMOUNT'].str.replace(',', '.')


15. Count the number of records where the order date and the delivery date are same

In [17]:
df[df['ORDER_CREATION_DATE'] == df['REQUESTED_DELIVERY_DATE']].shape[0]

100437


16. Count the number of records for each currency type by using the field “'ORDER_CURRENCY'”

In [18]:
df['ORDER_CURRENCY'].value_counts()

ORDER_CURRENCY
USD    622835
EUR    253196
AUD     64200
CAD     55065
GBP     22028
MYR     13946
PLN     11861
AED      7852
HKD      6198
CHF      5259
RON      4731
SGD      3909
CZK      2178
HU1      1377
NZD        79
BHD        32
SAR        14
QAR        12
KWD         7
SEK         4
Name: count, dtype: int64


17. Create a new column in the existing dataframe as “'amount_in_usd'” and convert all the non-USD currencies in USD and store them in the same column.

In [63]:
def convert_currency(amount, currency):
    if currency == 'USD':
        return amount
    else:
        url = 'https://www.google.com/search?q={} +{} +to +usd '.format(amount, currency)
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        result = soup.find('div', attrs={'class':'BNeawe iBp4i AP7Wnd'}).text
        return result.split(' ')[0]

In [67]:
df['amount_in_usd'] = df.apply(lambda x: convert_currency(x['ORDER_AMOUNT'], x['ORDER_CURRENCY']), axis=1)


18. Check for values “0” in the “'amount_in_usd” column.

In [ ]:
df[df['amount_in_usd'] == '0'].shape[0]


19. Create a new column in the existing dataframe “unique_cust_id” by adding 'CUSTOMER_NUMBER' and 'COMPANY_CODE'

In [ ]:
df['uniue_cust_id'] = df['CUSTOMER_ID'].astype(str) + df['CUSTOMER_NAME'].astype(str)